@charset "UTF-8";
body{
    background-color: rgb(174, 216, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(236, 132, 63);
    background-color: rgb(150, 255, 173);
}
h2{
    color: rgb(253, 255, 127);
}
p{
    text-align: justify;
}
